.hero_section_container{
    height: 92vh;
    width: 100v;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
     
}

.hero_section_content{
    width: 45%;
    margin-top: 4rem;
    height: max-content;
       
}

.hero_section_content p {
    font-size: 48px;
    color:#1f4b43;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.hero_section_content span {
    font-size: 15px;
    color:#35384b;
    width: 95%;
    padding: 0 3rem;
    text-align: center;
}

.btn_container {
    gap:24px;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px)
    .hero_section_container{
     height: 92vh;
     width: 100vh;
     display: flex;
     justify-content: center;
     align-item: center;
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover 
    }
    
    .hero_section_content{
      width:100%;
     margin-top:0 1rem
    }
    
    
    .hero_section_content p{
     font-size: 35px;
    }
    
    .hero_section_content span{
     font-size: 14px;
     color: #1f4b43;
     padding: 0 1rem;
     text-align: center;
    
    }
    
    .btn_container {
     gap:24px;
     display: flex;
     margin-top: 3rem;
     align-items: center;
     justify-content: center
    }
    
    
    .btn_container .ontline
    .btn{
     width: 50%;
    border: solid red;
    }
    
    